body{
	color: white;
	font-family: monospace;
	background-color: teal;
	width:70%;
	margin:auto;
}
a{
	color:#00FFFF;
}

.list{	
	background-color: #005D5D;
	border-radius:10px;
	transition:2s;
	font-size:15px;
	
}
li{
	transition:1s;
}


.list li:hover{
	font-size:16px;
	
}
.list a:hover{
	color:#FF9FF2;
	font-size:17px;
	}
